.weather-container {
    background-color: rgba(255,255,255, 0.8);
    border-radius: 10px;

    h3 {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

}

.weather-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.weather-item {
    text-align: center;
    background: rgba(255,255,255,0.7);
    border-radius: 5px;
    padding: 10px;
}

.weather-day, .weather-description {
    text-transform: capitalize;
    font-size: 1.1rem;
}